
<p> This is rendered</p>
<ion-content class="swiper-container">
  <swiper  class="swiper-window" #swiper [config]="config">
      <ng-template swiperSlide><ion-img class="img" src="https://cdn.pixabay.com/photo/2022/07/26/03/35/jogger-7344979__340.jpg"></ion-img></ng-template>
      <ng-template swiperSlide><ion-img class="img" src="https://cdn.pixabay.com/photo/2021/11/28/15/30/cathedral-6830526_960_720.jpg "></ion-img></ng-template>
      <ng-template swiperSlide><ion-img class="img" src="https://cdn.pixabay.com/photo/2022/03/20/15/40/nature-7081138__340.jpg"></ion-img></ng-template>
      <ng-template swiperSlide><ion-img class="img" src="https://cdn.pixabay.com/photo/2022/07/26/03/35/jogger-7344979__340.jpg"></ion-img></ng-template>
      <ng-template swiperSlide><ion-img class="img" src="https://cdn.pixabay.com/photo/2021/11/28/15/30/cathedral-6830526_960_720.jpg "></ion-img></ng-template>
      <ng-template swiperSlide><ion-img class="img" src="https://cdn.pixabay.com/photo/2022/03/20/15/40/nature-7081138__340.jpg"></ion-img></ng-template>
  </swiper>
 </ion-content>

